<% age_percent_0 = "11" %>
<% age_percent_16 = "11" %>
<% age_percent_20 = "11" %>
<% age_percent_25 = "11" %>
<% age_percent_30 = "11" %>
<% age_percent_40 = "11" %>
<% age_percent_50 = "11" %>
<% age_percent_60 = "11" %>
<% age_percent_70 = "11" %>

<% age_title = "Ikä" %>
  
<% age_label_0 = "-15" %>
<% age_label_16 = "16-19" %>
<% age_label_20 = "20-24" %>
<% age_label_25 = "25-29" %>
<% age_label_30 = "30-39" %>
<% age_label_40 = "40-49" %>
<% age_label_50 = "50-59" %>
<% age_label_60 = "60-69" %>
<% age_label_70 = "70-" %>

<div class="summary-header">
  <div class="summary-icon">
      <i class="maki-golf"></i>
  </div>
  <h3><%= age_title %></h3>
</div>
<div class="summary-content">
  <div class="choice-chart choice-chart-noicons">
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_0 %></div>
      <div class="choice-line-container"><div data-choice="0" class="choice-line" style="width: <%= age_percent_0 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_16 %></div>
      <div class="choice-line-container"><div data-choice="16" class="choice-line" style="width: <%= age_percent_16 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_20 %></div>
      <div class="choice-line-container"><div data-choice="20" class="choice-line" style="width: <%= age_percent_20 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_25 %></div>
      <div class="choice-line-container"><div data-choice="25" class="choice-line" style="width: <%= age_percent_25 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_30 %></div>
      <div class="choice-line-container"><div data-choice="30" class="choice-line" style="width: <%= age_percent_30 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_40 %></div>
      <div class="choice-line-container"><div data-choice="40" class="choice-line" style="width: <%= age_percent_40 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_50 %></div>
      <div class="choice-line-container"><div data-choice="50" class="choice-line" style="width: <%= age_percent_50 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_60 %></div>
      <div class="choice-line-container"><div data-choice="60" class="choice-line" style="width: <%= age_percent_60 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-1">
      <div class="choice-label"><%= age_label_70 %></div>
      <div class="choice-line-container"><div data-choice="70" class="choice-line" style="width: <%= age_percent_70 %>%"></div></div>
    </div>
  </div>
</div>