<% family_icon_yksin_asuva = "maki-lodging" %>
<% family_icon_pariskunta = "maki-toilet" %>
<% family_icon_lapsiperhe = "maki-school" %>
<% family_icon_yhteiso = "maki-theatre" %>
<% family_icon_muu = "maki-town-hall" %>
  
<% family_title = "Elämäntilanne, asumismuoto" %>
  
<% family_label_yksin_asuva = "Yksin" %>
<% family_label_pariskunta = "Pariskunta" %>
<% family_label_lapsiperhe = "Lapsiperhe" %>
<% family_label_yhteiso = "Yhteisö" %>
<% family_label_muu = "Muu" %>


<div class="summary-header">
  <div class="summary-icon">
      <i class="maki-warehouse"></i>
  </div>
  <h3><%= family_title %></h3>
</div>
<div class="summary-content">
  <div class="choice-chart">
    
    <div class="choice-column choice-column-1">
      <div class="choice-icon"><i class="<%= family_icon_yksin_asuva %>"></i></div>
      <span class="choice-label"><%= family_label_yksin_asuva %></span>
      <div class="choice-line-container"><div class="choice-line choice-1" style="width: <%= data.yksin_asuva
|| 0 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-2">
      <div class="choice-icon"><i class="<%= family_icon_pariskunta %>"></i></div>
      <span class="choice-label"><%= family_label_pariskunta %></span>
      <div class="choice-line-container"><div class="choice-line choice-2" style="width: <%= data.pariskunta|| 0 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-3">  
      <div class="choice-icon"><i class="<%= family_icon_lapsiperhe %>"></i></div>
      <span class="choice-label"><%= family_label_lapsiperhe %></span>
      <div class="choice-line-container"><div class="choice-line choice-3" style="width: <%= data.lapsiperhe|| 0 %>%"></div></div>
    </div>
    <div class="choice-column choice-column-4">  
      <div class="choice-icon"><i class="<%= family_icon_yhteiso %>"></i></div>
      <span class="choice-label"><%= family_label_yhteiso %></span>
      <div class="choice-line-container"><div class="choice-line choice-4" style="width: <%= data.yhteiso|| 0 %>%"></div></div>
     </div>
    <div class="choice-column choice-column-5"> 
      <div class="choice-icon"><i class="<%= family_icon_muu %>"></i></div>
      <span class="choice-label"><%= family_label_muu %></span>
      <div class="choice-line-container"><div class="choice-line choice-5" style="width: <%= data.muu|| 0 %>%"></div></div>
    </div>
  </div>
</div>