<% future_icon_verylikely = "fa fa-thumbs-o-up" %>
<% future_icon_quitelikely = "fa fa-smile-o" %>
<% future_icon_notsure = "fa fa-meh-o" %>
<% future_icon_quiteunlikely = "fa fa-frown-o" %>
<% future_icon_veryunlikely = "fa fa-thumbs-o-down" %>
  
<% future_percent_verylikely = "45" %>
<% future_percent_quitelikely = "10" %>
<% future_percent_notsure = "5" %>
<% future_percent_quiteunlikely = "25" %>
<% future_percent_veryunlikely = "5" %>
  
<% future_title = "Asuu alueella 5 vuoden päästä" %>
  
<% future_label_verylikely = "erittäin todennäköisesti" %>
<% future_label_quitelikely = "melko todennäköisesti" %>
<% future_label_notsure = "en osaa sanoa" %>
<% future_label_quiteunlikely = "melko epätodennäköisesti" %>
<% future_label_veryunlikely = "erittäin epätodennäköisesti" %>


<div class="summary-header">
  <div class="summary-icon summary-icon--color-4">
      <i class="<%= future_icon_quiteunlikely %>"></i>
  </div>
  <h3><%= future_title %></h3>
</div>
<div class="summary-content">
  <div class="choice-chart">
    
    <div class="choice-column choice-color-verylikely" title="<%= future_percent_verylikely %>%">
      <div class="choice-icon"><i class="<%= future_icon_verylikely %>"></i></div>
      <span class="choice-label"><%= future_label_verylikely %></span>
      <div class="choice-line-container"><div class="choice-line choice-1" data-choice="verylikely" style="width: <%= future_percent_verylikely %>%"></div></div>
      <div class="choice-value"><%= future_percent_verylikely %>%</div>
    </div>
    <div class="choice-column choice-color-quitelikely" title="<%= future_percent_quitelikely %>%">
      <div class="choice-icon"><i class="<%= future_icon_quitelikely %>"></i></div>
      <span class="choice-label"><%= future_label_quitelikely %></span>
      <div class="choice-line-container"><div class="choice-line choice-2" data-choice="quitelikely" style="width: <%= future_percent_quitelikely %>%"></div></div>
      <div class="choice-value"><%= future_percent_quitelikely %>%</div>
    </div>
    <div class="choice-column choice-color-notsure" title="<%= future_percent_notsure %>%">
      <div class="choice-icon"><i class="<%= future_icon_notsure %>"></i></div>
      <span class="choice-label"><%= future_label_notsure %></span>
      <div class="choice-line-container"><div class="choice-line choice-3" data-choice="notsure" style="width: <%= future_percent_notsure %>%"></div></div>
      <div class="choice-value"><%= future_percent_notsure %>%</div>
    </div>
    <div class="choice-column choice-color-quiteunlikely" title="<%= future_percent_quiteunlikely %>%">
      <div class="choice-icon"><i class="<%= future_icon_quiteunlikely %>"></i></div>
      <span class="choice-label"><%= future_label_quiteunlikely %></span>
      <div class="choice-line-container"><div class="choice-line choice-4" data-choice="quiteunlikely" style="width: <%= future_percent_quiteunlikely %>%"></div></div>
      <div class="choice-value"><%= future_percent_quiteunlikely %>%</div>
     </div>
    <div class="choice-column choice-color-veryunlikely" title="<%= future_percent_veryunlikely %>%">
      <div class="choice-icon"><i class="<%= future_icon_veryunlikely %>"></i></div>
      <span class="choice-label"><%= future_label_veryunlikely %></span>
      <div class="choice-line-container"><div class="choice-line choice-5" data-choice="veryunlikely" style="width: <%= future_percent_veryunlikely %>%"></div></div>
      <div class="choice-value"><%= future_percent_veryunlikely %>%</div>
    </div>
  </div>
</div>