<% future_icon_erittain_todennakoisesti = "fa fa-thumbs-o-up" %>
<% future_icon_melko_todennakoisesti = "fa fa-smile-o" %>
<% future_icon_vaikea_sanoa = "fa fa-meh-o" %>
<% future_icon_melko_epatodennakoisesti = "fa fa-frown-o" %>
<% future_icon_erittain_epatodennakoisesti = "fa fa-thumbs-o-down" %>
  
<% future_title = "Asuu alueella 5 vuoden päästä" %>
  
<% future_label_erittain_todennakoisesti = "erittäin todennäköisesti" %>
<% future_label_melko_todennakoisesti = "melko todennäköisesti" %>
<% future_label_vaikea_sanoa = "en osaa sanoa" %>
<% future_label_melko_epatodennakoisesti = "melko epätodennäköisesti" %>
<% future_label_erittain_epatodennakoisesti = "erittäin epätodennäköisesti" %>


<div class="summary-header">
  <div class="summary-icon">
      <i class="maki-prison"></i>
  </div>
  <h3><%= future_title %></h3>
</div>
<div class="summary-content">
  <div id="probability_stay_five_years" class="choice-chart">
    
    <div class="choice-column choice-column-1">
      <div class="choice-icon"><i class="<%= future_icon_erittain_todennakoisesti %>"></i></div>
      <span class="choice-label"><%= future_label_erittain_todennakoisesti %></span>
      <div class="choice-line-container"><div class="choice-line choice-1" style="width: <%= data.erittain_todennakoisesti
 %>0%"></div></div>
    </div>
    <div class="choice-column choice-column-2">
      <div class="choice-icon"><i class="<%= future_icon_melko_todennakoisesti %>"></i></div>
      <span class="choice-label"><%= future_label_melko_todennakoisesti %></span>
      <div class="choice-line-container"><div class="choice-line choice-2" style="width: <%= data.melko_todennakoisesti %>0%"></div></div>
    </div>
    <div class="choice-column choice-column-3">  
      <div class="choice-icon"><i class="<%= future_icon_vaikea_sanoa %>"></i></div>
      <span class="choice-label"><%= future_label_vaikea_sanoa %></span>
      <div class="choice-line-container"><div class="choice-line choice-3" style="width: <%= data.vaikea_sanoa
 %>0%"></div></div>
    </div>
    <div class="choice-column choice-column-4">  
      <div class="choice-icon"><i class="<%= future_icon_melko_epatodennakoisesti %>"></i></div>
      <span class="choice-label"><%= future_label_melko_epatodennakoisesti %></span>
      <div class="choice-line-container"><div class="choice-line choice-4" style="width: <%= data.melko_epatodennakoisesti %>0%"></div></div>
     </div>
    <div class="choice-column choice-column-5"> 
      <div class="choice-icon"><i class="<%= future_icon_erittain_epatodennakoisesti %>"></i></div>
      <span class="choice-label"><%= future_label_erittain_epatodennakoisesti %></span>
      <div class="choice-line-container"><div class="choice-line choice-5" style="width: <%= data.erittain_epatodennakoisesti %>0%"></div></div>
    </div>
  </div>
</div>