
<% transport_icon_car = "maki-fuel" %>
<% transport_icon_bike = "maki-bicycle" %>
<% transport_icon_walk = "maki-pitch" %>
<% transport_icon_public = "maki-bus" %>

<% transport_percent_car = "100" %>
<% transport_percent_bike = "100" %>
<% transport_percent_walk = "100" %>
<% transport_percent_public = "100" %>

<% transport_title = "Tärkein kulkumuoto" %>
  
<% transport_label_car = "Henkilöauto" %>
<% transport_label_bike = "Polkupyörä" %>
<% transport_label_walk = "Kävely" %>
<% transport_label_public = "Joukkoliikenne" %>

<div class="summary-header">
  <div class="summary-icon summary-icon--color-2">
      <i class="maki-bicycle"></i>
  </div>
  <h3><%= transport_title %></h3>
</div>
<div class="summary-content">
  <div class="choice-chart">
    
    <div class="choice-column choice-color-car" data-choice="car">
      <div class="choice-icon"><i class="<%= transport_icon_car %>"></i></div>
      <span class="choice-label"><%= transport_label_car %></span>
      <div class="choice-line-container"><div class="choice-line choice-1" style="width: <%= transport_percent_car %>%"></div></div>
      <div class="choice-value"><%= transport_percent_car %>%</div>
    </div>
    <div class="choice-column choice-color-bike" data-choice="bike">
      <div class="choice-icon"><i class="<%= transport_icon_bike %>"></i></div>
      <span class="choice-label"><%= transport_label_bike %></span>
      <div class="choice-line-container"><div class="choice-line choice-2" style="width: <%= transport_percent_bike %>%"></div></div>
      <div class="choice-value"><%= transport_percent_bike %>%</div>
    </div>
    <div class="choice-column choice-color-walk" data-choice="walk">
      <div class="choice-icon"><i class="<%= transport_icon_walk %>"></i></div>
      <span class="choice-label"><%= transport_label_walk %></span>
      <div class="choice-line-container"><div class="choice-line choice-3" style="width: <%= transport_percent_walk %>%"></div></div>
      <div class="choice-value"><%= transport_percent_walk %>%</div>
    </div>
    <div class="choice-column choice-color-public" data-choice="public">
      <div class="choice-icon"><i class="<%= transport_icon_public %>"></i></div>
      <span class="choice-label"><%= transport_label_public %></span>
      <div class="choice-line-container"><div class="choice-line choice-4" style="width: <%= transport_percent_public %>%"></div></div>
      <div class="choice-value"><%= transport_percent_public %>%</div>
     </div>
  </div>
</div>
