
<% @titlearea = "Kalliolaisten" %>
<% @titlebody = "kaupunki" %>

<div class="page-header">
  <div class="header-link header-link-prev"><a href="#"><i class="fa fa-arrow-left"></i><span class="header-link-destination header-link-destination--left" id="">Kaivopuisto</span></a></div>
  <div class="header-link header-link-next"><a href="#"><i class="fa fa-arrow-right"></i><span class="header-link-destination header-link-destination--right" id="">Kamppi</span></a></div>
  <h2><span class="header-area"><%= @titlearea %></span> <%= @titlebody %></h2>
  <p class="header-responders-count">Vastaajia: 2045</p>

</div>

<div class="g-info-section background">

  <div class="choice-graphs">
    <div class="g-choice  future">
  
        <%= partial "visualizations/future-spread" %>
    </div>
    <div class="g-choice family">
  
        <%= partial "visualizations/family-spread" %>
    </div>
    <div class="g-choice transport">
  
        <%= partial "visualizations/transport-spread" %>
    </div>
    <div class="g-choice age">
  
        <%= partial "visualizations/age-spread" %>
    </div>
  </div>
</div>

<div class="g-info-section map">
  
  <div class="map-ranking-content residential">
    <h2>Asuminen <i class="fa fa-chevron-down"></i></h2>
    
    <div class="mapview residential">
      <div class="g-maparea">
        <%= partial "visualizations/building-map" %>
      </div>
      <div class="g-rankingarea">
        <%= partial "visualizations/building-ranking" %>
      </div>
    </div>
  </div>
  
</div>

  



